slExample.Web/Service References/ServiceReference1/DBHelper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBHelper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DoNet.Common.DbUtility.Proxy" />
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DoNet.Common.DbUtility" />
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://oap.qq.com/dbproxy/DBProxy.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DoNet.Common.DbUtility.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBHelper_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteNonQueryWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParam" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteNonQueryWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteNonQueryWithParams_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParams" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteNonQueryWithParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_GetDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_GetDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_GetDataSetWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetWithParam" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_GetDataSetWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteScalarWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarWithParam" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteScalarWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteSql_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSql" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteSql_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSqlResponse" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteSqlWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSqlWithParam" />
  </wsdl:message>
  <wsdl:message name="IDBHelper_ExecuteSqlWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSqlWithParamResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBHelper">
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQuery" message="tns:IDBHelper_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQueryResponse" message="tns:IDBHelper_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParam" message="tns:IDBHelper_ExecuteNonQueryWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParamResponse" message="tns:IDBHelper_ExecuteNonQueryWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParams" message="tns:IDBHelper_ExecuteNonQueryWithParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParamsResponse" message="tns:IDBHelper_ExecuteNonQueryWithParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/GetDataSet" message="tns:IDBHelper_GetDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/GetDataSetResponse" message="tns:IDBHelper_GetDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/GetDataSetWithParam" message="tns:IDBHelper_GetDataSetWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/GetDataSetWithParamResponse" message="tns:IDBHelper_GetDataSetWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteScalar" message="tns:IDBHelper_ExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteScalarResponse" message="tns:IDBHelper_ExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalarWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteScalarWithParam" message="tns:IDBHelper_ExecuteScalarWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteScalarWithParamResponse" message="tns:IDBHelper_ExecuteScalarWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSql">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteSql" message="tns:IDBHelper_ExecuteSql_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteSqlResponse" message="tns:IDBHelper_ExecuteSql_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSqlWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBHelper/ExecuteSqlWithParam" message="tns:IDBHelper_ExecuteSqlWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBHelper/ExecuteSqlWithParamResponse" message="tns:IDBHelper_ExecuteSqlWithParam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBHelper" type="tns:IDBHelper">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParam">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParams">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteNonQueryWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetWithParam">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/GetDataSetWithParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalarWithParam">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteScalarWithParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSql">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSqlWithParam">
      <soap:operation soapAction="http://tempuri.org/IDBHelper/ExecuteSqlWithParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBHelper">
    <wsdl:port name="BasicHttpBinding_IDBHelper" binding="tns:BasicHttpBinding_IDBHelper">
      <soap:address location="http://oap.qq.com/dbproxy/DBProxy.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>